<div class="container">
  <h1>Candidate Info</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">Country</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Website</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Ioannis Soukas</td>
      <td>Gravias 14</td>
      <td>Thessaloniki</td>
      <td>Greece</td>
      <td>redsoukas@gmail.com</td>
      <td>+306986625270</td>
      <td><a target="_blank" href="http://johnsoukas.com">johnsoukas.com</a></td>
    </tr>
    </tbody>
  </table>
</div>